.button {
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50;
    -fx-background-radius: 30;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:   #4CAF50;
    -fx-border-color:   #4CAF50;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 16;
    
    
    
}



.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill: #4CAF50;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2;
    -fx-rotate: 4;
    -fx-font-size: 16;
    
}


.text-area {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color:  #4CAF50;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 16; 
 
}

