
.button {
    -fx-font-weight: bold;
    -fx-background-color: #39b5ff;
    -fx-background-radius: 20;
    -fx-font-size:14;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill: #39b5ff;
    -fx-border-color: #39b5ff;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    
    
    
}



.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:  #39b5ff;
    -fx-border-color:  #39b5ff;
    -fx-border-width: 2;
    -fx-rotate: 4;
    
}